.container {
  position: absolute;
  width: 300px;
  max-width: 300px;
  padding: 20px;
  display: flex;
  top: 20px;
  right: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: auto;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  z-index: 999;
}
